@page
@model Menuzama1.Pages.Orders.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="Order.ClientID" class="control-label"></label>
                <select asp-for="Order.ClientID" class="form-control" asp-items="Model.Clients"></select>
                <span asp-validation-for="Order.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.MenuItemId" class="control-label"></label>
                <select asp-for="Order.MenuItemId" class="form-control" asp-items="Model.MenuItems"></select>
                <span asp-validation-for="Order.MenuItemId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
