@page
@model Menuzama1.Pages.Orders.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Order.ID" />

            <div class="form-group">
                <label asp-for="Order.ClientID" class="control-label"></label>
                <select asp-for="Order.ClientID" class="form-control" asp-items="@(new SelectList(ViewData["ClientID"] as IEnumerable<SelectListItem>, "Value", "Text", Model.Order.ClientID))"></select>
                <span asp-validation-for="Order.ClientID" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Order.MenuItemId" class="control-label"></label>
                <select asp-for="Order.MenuItemId" class="form-control" asp-items="@(new SelectList(ViewData["MenuItemId"] as IEnumerable<SelectListItem>, "Value", "Text", Model.Order.MenuItemId))"></select>
                <span asp-validation-for="Order.MenuItemId" class="text-danger"></span>
            </div>

           
            <!-- OrderDate -->
            <div class="form-group">
                <label asp-for="Order.OrderDate" class="control-label"></label>
                <input asp-for="Order.OrderDate" class="form-control" />
                <span asp-validation-for="Order.OrderDate" class="text-danger"></span>
            </div>

            <!-- Butoane -->
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Save</button> |
                <a asp-page="./Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
